.nav__figure {
  width: 200px;
}

.nav {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
}

.nav__menu {
  display: none;
}

.nav__iconMenu {
  width: 30px;
  margin-right: 10px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  text-align: center;

  color: var(--Grey-Light);
  background-color: var(--Grey);
}

.nosotros__title {
  font-family: var(--dm_serif_display);
  font-size: 2rem;
  padding-bottom: 20px;
}

.nosotros__text {
  padding: 80px 20px;

  background-image: url(../../public/images/bg-pattern-intro-left-mobile.svg),
    url(../../public/images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position:
    left top,
    right 200%;
}

.nosotros__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.mision_vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.mision_vision__img {
  width: 40%;
  min-width: 60px;
  margin: 40px 0;
  max-width: 200px;
}

.mision_vision__article {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: var(--Grey);
}

.mision_vision__title {
  font-size: 2.5rem;
  font-family: var(--dm_serif_display);
  margin-bottom: 20px;
}

.servicios {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--Grey);
  padding: 60px 10px;
  color: var(--Grey-Light);
  background-image: url(../../public/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;

  margin: 30px;
  text-align: center;
}

.servicios__title {
  font-family: var(--dm_serif_display);
  font-size: 2rem;
  margin-bottom: 20px;
}

.servicios__subtitle {
  font-family: var(--dm_serif_display);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.servicios__button {
  border: solid 2px var(--Grey-Light);
  padding: 15px 25px;
  text-decoration: none;
  color: var(--Grey-Light);
}

.servicios__button:hover {
  color: var(--Yellow);
  border-color: var(--Yellow);
}

.footer {
  background-color: var(--Grey);
  color: var(--Grey-Light);
  padding: 130px 40px;
  background-image: url(../../public/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.datos__icon {
  width: 30px;
  margin-right: 10px;
}

.datos__description {
  display: inline-block;
  font-family: var(--dm_serif_display);
  font-size: 2em;
  margin-bottom: 20px;
}

.contactanos {
  margin: 40px 0;
}

.contactanos__label {
  font-family: var(--dm_serif_display);
  font-size: 1.5em;
  margin: 10px 0;
}

.contactanos__row {
  display: flex;
  flex-direction: column;
}

.contactanos__title {
  font-family: var(--dm_serif_display);
  font-size: 2em;
  margin-bottom: 20px;
}

.contactanos__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactanos__input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px var(--Yellow);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
}

.contactanos__input:focus {
  outline: none;
}

.contactanos__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--Grey) inset;
  -webkit-text-fill-color: #fff;
}

.contactanos__button {
  border: solid 2px var(--Yellow);
  padding: 15px 25px;
  color: var(--Grey);
  background-color: var(--Yellow);
}

@media (min-width: 768px) {
  .nav {
    padding: 20px 10%;
  }

  .nav__menu {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .nav__link {
    text-decoration: none;
    color: var(--Grey);
  }

  .nav__link:hover {
    border-bottom: solid 2px var(--Yellow);
  }

  .nav__iconMenu {
    display: none;
  }

  .nosotros {
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
    gap: 50px;

    padding: 50px 10%;

    background-image: url(../../public/images/bg-pattern-intro-left-desktop.svg),
      url(../../public/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position:
      left bottom,
      right top;
  }

  .nosotros__title {
    font-size: 3rem;
  }

  .nosotros__text {
    background: none;
  }

  .nosotros__img {
    max-width: 50%;
  }

  .mision_vision {
    flex-direction: row;
    gap: 40px;
    padding: 40px 10%;
  }

  .mision_vision__img {
    width: 30%;
  }

  .mision_vision__article {
    width: 400px;
  }

  .mision_vision__title {
    font-size: 2.5rem;
    font-family: var(--dm_serif_display);
    margin-bottom: 20px;
  }

  .servicios {
    flex-direction: row;
    gap: 40px;
    align-items: center;

    background-image: url(../../public/images/bg-pattern-how-we-work-desktop.svg);
    background-size: auto 100%;

    padding: 50px 50px;
    margin: 30px 10%;
  }
  .servicios__article {
    max-width: 50%;
  }
  .servicios__title {
    font-size: 2.5rem;
  }

  .servicios__subtitle {
    font-size: 3rem;
  }

  .footer {
    padding: 130px 10%;
    background-image: url(../../public/images/bg-pattern-footer-desktop.svg);
    display: flex;
  }

  .datos {
    width: 50%;
    justify-content: space-evenly;
  }

  .datos__icon {
    height: 30px;
  }

  .contactanos {
    width: 50%;
  }

  .contactanos__title {
    font-size: 3em;
  }
}
